{% extends "base.html" %}
{% load comments %}

{% block title %}: {{article.title}}{% endblock %}

{% block staff-actions %}
<a class="nav-button" href="{% url edit-article article.slug %}">Edit This Post</a>
<a class="nav-button" href="{% url delete-article article.slug %}">Delete This Post</a>
{% endblock %}

{% block content %}
<h3>{{article.title}}</h3>
<p>{{article.body}}</p>

{% get_comment_count for article as comment_count %} 
<p>{{comment_count}} comment{{ comment_count|pluralize }} on this article.</p>

<div>{% render_comment_list for article %}</div>

<div>
{% get_comment_form for article as form %}
  <form action="{% comment_form_target %}" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="submit" value="Post">
    <input type="hidden" name="next" value="{% url article article.slug %}" />
  </form>
</div>

{% endblock %}