html, body {
	height: 100%;
}

.wrapper {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -58px;
}

.footer, .push {
	height: 58px;
}

.header {
	width: 100%;
	background-color: #cccccc;
}

.footer {
	width: 100%;
	background-color: #cccccc;
}

.footer p {
	padding: 15px;
	height: 10px;
	text-align: center;
	font-weight: bold;
  	color: #000000;
}


.nav-button {
	display: inline-block;
	padding: 20px;
	text-decoration: none;
  	font-weight: bold;
  	color: #000000;
  	background-color: #cccccc;
}

.nav-button:hover {
	background-color: #eeeeee;
}

.logo {
	font-size: 2em;
}

.login-info {
	padding: 30px;
}

.article-title {
	text-decoration: none;
  	font-weight: bold;
  	color: #000000;
  	font-size: 2.5em;
}

.article-body {
	color: #000000;
  	font-size: 1.4em;
  	padding-top: 10px;
  	padding-bottom: 20px;
}

textarea.comment {
	width: 600px;
	height: 200px;
}

textarea.article {
	width: 100%;
	height: 500px;
	font-size: 1.5em;
}

input.article-title {
	width: 100%;
}

label {
	padding-right: 10px;
	font-size: 1.1em;
}