{% extends "base.html" %}

{% block content %}
{% for article in articles.object_list %}
	<div class="span-22 append-1 prepend-1 last">
		<a class="article-title" href="{% url article article.slug %}">{{article.title}}</a>
	</div>
	
	<div class="span-20 append-2 prepend-2 last">
		<div class="article-body">{{article.body|linebreaksbr}}</div>
	</div>
{% endfor %}
<div class="span-20 append-2 prepend-2 last">
	<div class="pagination">
	    <span class="step-links">
	        {% if articles.has_previous %}
	            <a href="?page={{ articles.previous_page_number }}">previous</a>
	        {% endif %}
	
	        <span class="current">
	            Page {{ articles.number }} of {{ articles.paginator.num_pages }}.
	        </span>
	
	        {% if articles.has_next %}
	            <a href="?page={{ articles.next_page_number }}">next</a>
	        {% endif %}
	    </span>
	</div>
</div>
{% endblock %}