{% extends "base.html" %}

{% block content %}

<div class="span-24 last">
	{% if form.errors %}
		<div class="error">Your username and password didn't match. Please try again.</div>
	{% endif %}
</div>

<div class="span-10 prepend-8 append-8 last">
	{% if not user.is_authenticated %}
		<form method="post" action="{% url login %}">
			{% csrf_token %}
			{% include "base-form.html" %}
			<input type="submit" value="login" />
			<input type="hidden" name="next" value="{{ next }}" />
		</form>
	{% endif %}
</div>

{% endblock %}